*.iml
/.idea/
/.gradle/
.DS_Store

/build/
/captures/
/.externalNativeBuild/
/.cxx/

*.class
*.log
*.kotlin_module

.navigation/

*.hprof

*.apk
*.ap_
*.aab

/local.properties
core/src/main/assets/service_account.json
app/google-services.json

gradle.properties

*.db
*.db-shm
*.db-wal
*.preferences_pb
